supervisord.pid
.supervisord.sock
/logs

*.log
venv
node_modules

__pycache__
.mypy_cache
.pytest_cache
backend/.coverage
/backend/assets/static

frontend/dist
frontend/dist-*
frontend/coverage
frontend/.parcel-cache
__snapshots__


e2e-tests/e2e-tests.db
e2e-tests/trail

/ui-tests/prestige
/ui-tests/test-results/
/ui-tests/playwright-report/
/ui-tests/playwright/.cache/

/docs/site

env-*.sh
/package.tar.gz

.DS_Store

/.idea
*.iml
