private-env.txt
venv

backend/db.sqlite3
backend/e2e-db.sqlite3
__pycache__

frontend/node_modules
frontend/dist
frontend/dist-serve
frontend/coverage
__snapshots__

e2e-tests/drivers
e2e-tests/shots
geckodriver.log

.cache
yarn-error.log

.DS_Store

/.idea
*.iml
