{
	admin off
	auto_https off
}

:{$PORT} {
	route /favicon.ico {
		root frontend/src/assets
		file_server
	}

	@docs {
		path /docs/*
		path /livereload.js
	}

	route @docs {
		reverse_proxy localhost:3042
	}

	@backend {
		path /admin
		path /admin/*
		path /accounts
		path /accounts/*
		path /oauth-callback/*
		path /static/*
	}

	route @backend {
		reverse_proxy localhost:3041
	}

	route /api/* {
		uri strip_prefix /api
		reverse_proxy localhost:3041
	}

	reverse_proxy localhost:3040
}
