# backend server
Django
dj-database-url
Requests
django-cors-headers
django-oauth-toolkit
psycopg2-binary
gunicorn

# e2e tests
selenium
httpbin
flask

# docs
mkdocs
pygments

# linting
flake8
flake8-tabs
mypy
