# backend server
Django==3.2.5
dj-database-url
Requests
psycopg2-binary
mitmproxy  # noprod

# e2e tests
selenium  # noprod

# docs
mkdocs  # noprod

# linting
flake8  # noprod
flake8-tabs  # noprod
mypy  # noprod
