* {
	box-sizing: border-box;
}

html {
	/* csslint ignore:start */
	/* The nav header is 3.5rem high, plus 20px for the margin-top of the
	   main container. */
	scroll-padding-top: calc(3.5rem + 20px);
	/* csslint ignore:end */
	overflow-y: scroll;
	min-height: 100%;
}

/* Replacement for `body { background-attachment: fixed; }`, which has
   performance issues when scrolling on large displays. See #1394. */
body::before {
	content: ' ';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	will-change: transform;
	z-index: -1;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
	min-height: 100%;
	--link-blue: #06A;
	--link-hover-color: #EFF;
}

body > .container {
	margin-top: 20px;
	min-height: 400px;
}

button > * {
	pointer-events: none;
}

a {
	color: var(--link-blue);
}

nav, main {
	padding-bottom: 2rem;
}

nav a, aside a, nav summary, aside summary {
	text-decoration: none;
	padding: 6px;
	display: block;
	cursor: pointer;
	color: var(--link-blue);
}

nav a:hover, aside a:hover, nav summary:hover, aside summary:hover {
	background-color: var(--link-hover-color);
}

nav a.active, aside a.active, nav summary.active, aside summary.active {
	background-color: var(--link-blue);
	color: white;
}

nav summary:after, aside summary:after {
	content: " ";
	margin-left: 6px;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-width: 0 3px 3px 0;
	border-bottom-right-radius: 2px;
	border-style: solid;
	border-color: currentColor;
	opacity: .8;
	transform: translateY(-50%) rotate(45deg);
	transform-origin: center;
}

nav [open] summary:after, aside [open] summary:after {
	transform: rotate(-135deg);
}

.brand {
	margin: 0 0 1rem;
	font-size: 1.4rem;
}

main {
	margin: 0 2rem;
}

.navbar.fixed-top { /* csslint allow: adjoining-classes */
	/* csslint ignore:start */
	position: -webkit-sticky;
	position: sticky;
	/* csslint ignore:end */
}

.source-links {
	float: right;
}

.col-md-9 img {
	max-width: 100%;
	display: inline-block;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 20px auto 30px auto;
}

h1 {
	font-weight: 400;
	font-size: 42px;
}

h2, h3, h4, h5, h6 {
	font-weight: 500;
}

blockquote {
	border-left: 2px solid #ccc;
	padding-left: 1rem;
	font-style: italic;
}

hr {
	border-top: 1px solid #aaa;
}

pre, .rst-content tt {
	max-width: 100%;
	border: solid 1px #e1e4e5;
	overflow-x: auto;
}

code {
	padding: 2px 5px;
	border: solid 1px #e1e4e5;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre code {
	display: block;
	background: transparent;
	border: none;
	white-space: pre;
	word-wrap: normal;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: .9rem;
	color: inherit;
	word-break: normal;
}

kbd {
	padding: 2px 4px;
	font-size: .9rem;;
	border-radius: 3px;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: #aaa;
}

a code {
	color: #2FA4E7;
}

a:hover code, a:focus code {
	color: #157AB5;
}

footer {
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
}

hr {
	border-color: #357edd;
	border-width: 1px 0 0 0;
	margin: 0;
}

.headerlink {
	font-family: FontAwesome;
	display: none;
	padding-left: .5em;
	color: inherit;
	transform: scale(.7);
	font-size: 90%;
	text-decoration: none;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink {
	display: inline-block;
}

.admonition {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: left;
}

.admonition > p:first-child {
	margin-top: 0;
}

.admonition > p:last-child {
	margin-bottom: 0;
}

.admonition.note {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.admonition.warning {
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #fbeed5;
}

.admonition.danger {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.admonition-title {
	font-weight: bold;
	text-align: left;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
	background-color: #333B;
}

.modal.show {
	display: block;
}

.modal-dialog {
	background-color: white;
	position: fixed;
	width: 40%;
	top: 2rem;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 3px;
	box-shadow: 0 0 24px #2228;
	display: flex;
	flex-direction: column;
	overflow: hidden;  /* So that the scrollbar doesn't wreck the rounded corner. */
}

.modal .close {
	position: absolute;
	right: 6px;
	top: 6px;
	cursor: pointer;
	border: none;
	background: transparent;
	opacity: .5;
}

.modal .close:hover {
	opacity: 1;
}

.modal-dialog > h2 {
	padding: 0 1rem;
}

#mkdocs-search-results {
	overflow-y: scroll;
	overscroll-behavior-y: contain;  /* So that scrolling in the results NEVER scrolls the page behind. */
	flex-grow: 1;
}

#mkdocs-search-results > * {
	padding: 0 1rem;
}
