* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
	min-height: 100%;
	background: #F8F8FA;
	--link-blue: #06A;
	--link-hover-color: #EFF;
}

.sr-only {
	display: none;
}

button > * {
	pointer-events: none;
}

a {
	color: var(--link-blue);
}

[disabled] {
	cursor: disallowed;
	pointer-events: none;
}

nav, aside {
	position: fixed;
	top: 1rem;
	bottom: 2rem;
	overflow-y: auto;
	width: 15rem;
}

nav {
	left: calc(50% - 23rem);
	transform: translateX(-100%);
}

aside {
	left: calc(50% + 23rem);
}

nav > :first-child, aside > :first-child {
	margin-top: 1rem;
}

main {
	margin: 1rem auto;
	width: 60%;
	max-width: 45rem;
	background-color: #FFF;
	padding: .5rem 2rem;
	border-radius: .3rem;
	box-shadow: 1px 1px 6px #0003;
}

nav a, aside a, nav summary, aside summary {
	text-decoration: none;
	padding: 4px 6px;
	display: block;
	cursor: pointer;
	color: var(--link-blue);
}

nav a:hover, aside a:hover, nav summary:hover, aside summary:hover {
	background-color: var(--link-hover-color);
}

nav a.active, aside a.active, nav summary.active, aside summary.active {
	background-color: var(--link-blue);
	color: white;
}

nav summary:before, aside summary:before {
	content: "▶";
	margin-right: 6px;
	display: inline-block;
	opacity: .9;
	transform: scaleX(.5);
}

nav [open] summary:before, aside [open] summary:before {
	content: "▼";
	transform: scaleY(.5);
}

aside > a:first-child {
	font-size: 1.3rem;
	margin-top: 1rem;
}

.brand {
	font-size: 1.6rem;
	font-weight: bold;
}

.np-btns {
	display: flex;
	margin: 3rem 0 2rem;
	justify-content: space-between;
}

.np-btns a {
	display: block;
	width: 40%;
	text-decoration: none;
}

.np-btns a[rel="next"] {
	text-align: right;
}

.col-md-9 img {
	max-width: 100%;
	display: inline-block;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 20px auto 30px auto;
}

main > h1:first-child {
	font-size: 2.6rem;
	margin-top: 0;
}

main h2 {
	font-size: 1.6rem;
}

main h2, main h3, main h4 {
	margin: 2rem 0 .5rem;
}

main h2 + *, main h3 + *, main h4 + * {
	margin-top: 0;
}

blockquote {
	border-left: 2px solid #ccc;
	padding-left: 1rem;
	font-style: italic;
}

hr {
	border-top: 1px solid #aaa;
}

code, kbd {
	font-family: "Source Code Pro", monospace;
	font-size: .9rem;
}

pre {
	max-width: 100%;
	border: solid 1px #CCC;
	overflow-x: auto;
	background-color: #F9F9F9;
}

code {
	padding: 2px 5px;
	border: solid 1px #DDD;
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #EEE;
}

pre > code {
	display: block;
	border: none;
	white-space: pre;
	word-wrap: normal;
	word-break: normal;
	background-color: transparent;
}

kbd {
	padding: 2px 4px;
	font-size: .9rem;
	border-radius: 3px;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: #aaa;
}

a code {
	color: #2FA4E7;
}

a:hover code, a:focus code {
	color: #157AB5;
}

table {
	border-collapse: collapse;
}

thead {
	background-color: #0001;
}

th, td {
	border: 1px solid #eee;
	padding: 6px;
	vertical-align: top;
}

dt {
	font-weight: bold;
	margin-top: 1em;
}

dt + dt {
	margin-top: 0;
}

footer {
	margin: 3rem 0 1rem;
	padding: 1rem 0;
	display: flex;
	border-color: #357edd;
	border-width: 1px 0 0 0;
	border-style: solid;
	justify-content: space-around;
}

.headerlink {
	font-family: FontAwesome;
	display: none;
	padding-left: .5em;
	color: inherit;
	transform: scale(.7);
	font-size: 90%;
	text-decoration: none;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink {
	display: inline-block;
}

p.img {
	text-align: center;
}

p.img img {
	border-radius: 6px;
	border: 1px solid #CCC;
	text-align: center;
	height: 50vh;
	min-height: 100px;
	box-shadow: 6px 6px 24px #0002;
}

.admonition {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: left;
}

.admonition > p:first-child {
	margin-top: 0;
}

.admonition > p:last-child {
	margin-bottom: 0;
}

.admonition.note {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.admonition.warning {
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #fbeed5;
}

.admonition.danger {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.admonition-title {
	font-weight: bold;
	text-align: left;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
	background-color: #333B;
}

.modal.show {
	display: block;
}

.modal-dialog {
	background-color: white;
	position: fixed;
	width: 40%;
	top: 2rem;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 3px;
	box-shadow: 0 0 24px #2228;
	display: flex;
	flex-direction: column;
	overflow: hidden;  /* So that the scrollbar doesn't wreck the rounded corner. */
}

.modal .close {
	position: absolute;
	right: 6px;
	top: 6px;
	cursor: pointer;
	border: none;
	background: transparent;
	opacity: .5;
}

.modal .close:hover {
	opacity: 1;
}

.modal-dialog > h2 {
	padding: 0 1rem;
}

#mkdocs-search-results {
	overflow-y: scroll;
	overscroll-behavior-y: contain;  /* So that scrolling in the results NEVER scrolls the page behind. */
	flex-grow: 1;
}

#mkdocs-search-results > * {
	padding: 0 1rem;
}
