doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Prestige User Guide

		link(
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400&family=Fira+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap"
		)

		link(rel="icon" type="image/png" href="assets/favicon.ico")
		link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")

		style
			| body { font-family: "Source Serif Pro", sans-serif; font-size: 16px; margin: 0 auto; max-width: 720px; padding: 6px; }
			| h1 { text-align: center; background-color: rgba(0, 0, 0, .02); padding: .5em; border-radius: 3px; }
			| a { color: #36F; }
			| p { text-indent: 3ch; }
			| pre, code, tt { font-family: "Fira Mono", monospace; font-size: .95em; }
			| pre { background-color: rgba(0, 0, 0, .05); border-radius: 3px; padding: 6px; margin: 1em; overflow-x: auto }
			| .page-end { font-size: 2em; text-align: center; margin: 2em 0 3em; }

	body
		include:markdown-it help.md

		p.page-end ❦
