doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Prestige

		link(
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400&family=Fira+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap"
		)

		link(rel="icon" type="image/png" href="assets/favicon.ico")
		link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")

	body.base16-default-light
		if process.env.NODE_ENV === "development"
			p(style="position: fixed; top: 0; left: 40%; background-color: maroon; color: white; padding: 6px; z-index: 99") DEV

		p#loadingBox(style="text-align: center; font-size: 2em; opacity: .6") Loading&hellip;

		noscript
			| This is a webapp written in Javascript and as such, requires Javascript to function.
			| Please enable Javascript in your browser or get a better browser like Firefox or Chromium.
			| Thank you for checking us out.

		link(rel="stylesheet" href="styles.less")
		script(src="scripts/main.ts")

		script
			include analytics.js
