doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Prestige

		link(rel="icon" type="image/png" href="assets/favicon.ico")
		link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")

	body
		if process.env.NODE_ENV === "development"
			p(style="position: fixed; top: 0; left: 40%; background-color: maroon; color: white; padding: 6px; z-index: 99") DEV

		p#loadingBox(style="text-align: center; font-size: 2em; opacity: .6") Loading&hellip;

		noscript
			| This is a webapp written in Javascript and as such, requires Javascript to function.
			| Please enable Javascript in your browser or get a better browser like Firefox or Chromium.
			| Thank you for checking us out.

		//- TODO: For CDNs, figure out a way to not include them in the Parcel bundle.
		//- Mithril CDN
		//script(src="https://unpkg.com/mithril@2.0.4/mithril.min.js")

		//- CodeMirror CDN: https://cdnjs.com/libraries/codemirror
		//script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.54.0/codemirror.min.js")
		//script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.54.0/addon/selection/active-line.min.js")
		//link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.54.0/codemirror.min.css")
		//link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/theme/elegant.min.css")

		//- Prism CDN: https://cdnjs.com/libraries/prism
		//script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js" data-manual="")
		//script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-json.min.js")

		//- Mustache CDN: https://unpkg.com/browse/mustache@4.0.1/
		//script(src="https://unpkg.com/mustache@4.0.1/mustache.min.js")

		link(rel="stylesheet" href="styles.less")
		script(src="scripts/main.ts")
