@charset "UTF-8";

$family-sans-serif: "Fira Sans", sans-serif;
$family-monospace: "Fira Mono", monospace;
$body-font-size: 14px;

// The html tag always shows a scrollbar, for good reason. But we don't need it for Prestige.
// <https://github.com/jgthms/bulma/issues/1293>.
$body-overflow-y: hidden;

$navbar-height: 2rem;

/*
@import "~bulma/bulma";

.navbar {
	max-height: $navbar-height;
	border-bottom: 1px solid $button-border-color;
}

.columns.is-full-height {
	height: calc(100vh - #{$navbar-height});
	justify-content: stretch;

	.column {
		overflow-y: auto;
	}
}

.modal-card-foot {
	justify-content: space-between;
}
//*/
