* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	--header-height: 36px;
	--layout-border: 1px solid #CCC;
	--code-font-family: "Source Code Pro";
}

body {
	font: 14px Lato, sans-serif;
	color: #222;
	margin: 0;
	tab-size: 4;
}

input, button, select {
	font: inherit;
	color: inherit;
}

input {
	padding: 2px;
	border-radius: 3px;
	border: 1px solid #BBB;

	&:focus {
		border-color: #09F;
	}
}

button {
	font-size: 1.1em;
	background-image: linear-gradient(transparent, rgba(0, 0, 0, .1));
	border: 2px solid #BBB;
	border-radius: 3px;
	padding: 6px 12px;
	margin: 9px;
	cursor: pointer;

	&.primary {
		background-color: #09F;
		border-color: #09F;
		color: white;
	}
}

a {
	color: #08A;
	text-decoration: underline;

	&.button {
		display: inline-block;
		padding: 6px 9px;

		&:hover {
			background-color: #DEF;
		}

		&.active {
			background-color: #08A;
			color: white;
			text-decoration: none;
		}
	}
}

table {
	border-collapse: collapse;

	tr:hover {
		background-color: rgba(0, 0, 0, .03);
	}

	th, td {
		vertical-align: top;
		padding: 6px;
		border: 1px solid #DDD;
	}
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	height: 100%;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: var(--layout-border);
		height: var(--header-height);
		z-index: 20;

		> * {
			display: flex;
			align-items: center;
			padding: 0 6px;
		}

		h1 {
			margin: 0;
		}

		a {
			border-radius: 3px;
		}
	}
}

.er-pair {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	flex-grow: 1;
	height: calc(100% - var(--header-height));
	position: relative;
}

.editor-pane, .result-pane {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;

	> .toolbar {
		position: relative;

		> .bar {
			border-bottom: 1px solid #DDD;
			display: flex;
			align-items: center;
			justify-content: space-between;

			> * {
				margin: 0 6px;
			}
		}

		> .peripherals {
			position: absolute;
			top: 100%;
			width: 100%;

			> * {
				position: absolute;
				height: 70vh;
				width: 500px;
				background-color: white;
				border-bottom-left-radius: 6px;
				box-shadow: -2px 2px 6px rgba(0, 0, 0, .3);
				display: flex;
				flex-direction: column;
				z-index: 15;

				&.right {
					right: 0;
				}

				> * {
					padding: 6px;
				}

				> header {
					border-bottom: 1px solid #DDD;
				}

				> header h2 {
					margin: 9px 3px;
				}

				> section {
					flex-grow: 1;
					overflow-y: auto;
				}

				> footer {
					border-top: 1px solid #DDD;
					text-align: right;
				}
			}
		}
	}

	> .body {
		overflow-y: auto;
		flex-grow: 1;
	}

	> .toolbar + .body {
		height: calc(100% - 1em - 15px);
	}
}

.editor-pane > .editor {
	height: 100%;
}

.editor-pane .CodeMirror {
	height: 100%;
}

.result-pane {
	border-left: var(--layout-border);

	&.loading p {
		text-align: center;
		font-size: 3em;
		margin: 2em 0;
	}

	&.error {
		background-color: rgba(255, 0, 0, .05);
		color: #622;

		.message {
			font-size: 1.2em;
		}

		th, td {
			border-color: #ffdecf;
		}

		> * {
			padding-left: 6px;
			padding-right: 6px;
		}
	}

	.messages li + li {
		margin-top: 6px;
	}

	.response + .response {
		border-top: 2px dashed #ACF;
		margin-top: 1em;
	}

	.response > * {
		padding-left: 6px;
		padding-right: 6px;
	}

	.status {
		padding: 6px;
	}

	.status.s2xx {
		color: #080;
		background-color: #EFE;
	}

	.status.s3xx {
		color: #03F;
		background-color: #EFF;
	}

	.status.s4xx,
	.status.s5xx {
		color: #F40;
		background-color: #FEE;
	}

	pre {
		overflow-x: auto;
		margin: .5em 0 1em;
		width: 100%;
		background-color: rgba(0, 0, 0, .04);
		//padding: 6px 6px 1em 6px; /* Some extra room for the macOS scrollbar at the bottom */
		display: flex;
		flex-direction: row;

		.line-numbers {
			text-align: right;
			border-right: 1px solid rgba(0, 0, 0, .4);
			padding: 3px;
			opacity: .6;
		}

		> code {
			flex-grow: 1;
			padding: 3px 3px 1em 3px;
		}
	}

	.CodeMirror {
		height: auto;
	}

	.table-box {
		width: 100%;
		position: relative;
		overflow-x: auto;
	}

	.table-box table {
		max-width: 100%;
		font-family: var(--code-font-family);

		th {
			text-align: left;
		}
	}
}

div.CodeMirror {
	background: transparent;
	color: inherit;
	font-family: var(--code-font-family);
	z-index: 0;

	div:not(.CodeMirror-activeline) > .line-javascript {
		background-color: #fffcf3;
	}

	.cm-tab {
		border-top: 2px solid #EEE;
		transform: translateY(50%);

		&:after {
			content: ">";
			color: #EEE;
			transform: translateY(calc(-50% - 1px));
			display: inline-block;
		}
	}

	span.CodeMirror-matchingbracket {
		background-color: #CFD;
		color: #070;
	}

	span.CodeMirror-nonmatchingbracket {
		background-color: red;
		color: white;
	}
}

.CodeMirror-cursor {
	border-left-width: 2px;
}

.CodeMirror-selected {
	background: #ADF !important;
}

.CodeMirror-activeline-gutter {
	font-weight: bold;
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 10;
}

.modal {
	position: fixed;
	height: 70vh;
	width: 50vw;
	right: 0;
	top: var(--header-height);
	background-color: white;
	border-bottom-left-radius: 6px;
	box-shadow: -6px 6px 18px rgba(0, 0, 0, .4);
	display: flex;
	flex-direction: column;
	z-index: 15;

	> * {
		padding: 6px;
	}

	> header {
		border-bottom: 1px solid #DDD;
	}

	> header h2 {
		margin: 9px 3px;
	}

	> section {
		flex-grow: 1;
		overflow-y: auto;
	}

	> footer {
		border-top: 1px solid #DDD;
		text-align: right;
	}
}

.form {
	display: grid;
	grid-template-columns: 120px auto;
	grid-template-rows: max-content;

	input[type="text"] {
		min-width: calc((100% - 120px) / 1.25);
	}
}

.form > * {
	margin: 6px 3px;
}

#app.dark {
	background-color: #333;
	color: #FFF;
}

.dark .CodeMirror-cursor {
	border-left-color: #FFF;
}

.dark .CodeMirror-gutter {
	background-color: #292929;
}

.dark .CodeMirror-gutters {
	border-color: #111;
}


/* Prism theme, based on: <https://github.com/PrismJS/prism/blob/master/themes/prism-coy.css>. */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999988;
	font-style: italic;
}

.token.namespace {
	opacity: .7;
}

.token.string,
.token.attr-value {
	color: #e3116c;
}

.token.boolean,
.token.punctuation,
.token.operator {
	color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
	color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
	color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
	color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
	color: #00009f;
}

.token.important,
.token.function,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}
