* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	--header-height: 30px;
	--layout-border: 1px solid var(--seam-color);
	--code-font-family: "Source Code Pro";
}

body {
	font: 14px Lato, sans-serif;
	margin: 0;
	tab-size: 4;
	background-color: var(--bg);
	color: var(--fg);
}

h1, h2, h3, h4, h5, h6, strong, b {
	font-weight: 600;
}

input, button, select {
	font: inherit;
	color: var(--fg);
}

input {
	padding: 2px;
	border-radius: 3px;
	border: 1px solid #BBB;
	background-color: transparent;

	&:focus {
		border-color: #09F;
	}
}

button {
	font-size: 1.1em;
	background-image: linear-gradient(transparent, rgba(0, 0, 0, .08));
	background-color: var(--gutter-bg);
	border: 2px solid #BBB;
	border-radius: 3px;
	padding: 3px 12px;
	margin: 9px;
	cursor: pointer;

	&.primary {
		background-color: #09F;
		border-color: #09F;
		color: white;
	}

	&:hover {
		background-color: var(--bg);
	}

	&:active {
		background-image: none;
	}
}

a {
	color: #08A;
	text-decoration: underline;

	&.button {
		display: inline-block;
		padding: 6px 9px;

		&:hover {
			background-color: #DEF;
		}

		&.active {
			background-color: #08A;
			color: white;
			text-decoration: none;
		}
	}
}

table {
	border-collapse: collapse;

	tr:hover {
		background-color: rgba(0, 0, 0, .03);
	}

	th, td {
		vertical-align: top;
		padding: 6px;
		border: 1px solid var(--seam-color);
	}
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	height: 100%;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: var(--layout-border);
		height: var(--header-height);
		z-index: 20;

		> * {
			display: flex;
			align-items: center;
			padding: 0 6px;
			height: 100%;
		}

		h1 {
			margin: 0;
			font-size: 1.5em;
		}
	}
}

.er-pair {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	flex-grow: 1;
	height: calc(100% - var(--header-height));
	position: relative;
}

.editor-pane, .result-pane {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;

	> .toolbar {
		position: relative;

		> .bar {
			border-bottom: 1px solid var(--seam-color);
			display: flex;
			align-items: center;
			justify-content: space-between;

			> * {
				margin: 0 6px;
			}
		}

		> .peripherals {
			position: absolute;
			top: 100%;
			width: 100%;

			> * {
				position: absolute;
				height: 70vh;
				width: 500px;
				background-color: white;
				border-bottom-left-radius: 6px;
				box-shadow: -2px 2px 6px rgba(0, 0, 0, .3);
				display: flex;
				flex-direction: column;
				z-index: 15;

				&.right {
					right: 0;
				}

				> * {
					padding: 6px;
				}

				> header {
					border-bottom: 1px solid #DDD;
				}

				> header h2 {
					margin: 9px 3px;
				}

				> section {
					flex-grow: 1;
					overflow-y: auto;
				}

				> footer {
					border-top: 1px solid #DDD;
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}

	> .body {
		overflow-y: auto;
		flex-grow: 1;
	}

	> .toolbar + .body {
		height: calc(100% - 1em - 15px);
	}
}

.editor-pane > .editor {
	height: 100%;
}

.editor-pane .CodeMirror {
	height: 100%;
}

.result-pane {
	border-left: var(--layout-border);

	&.loading p {
		text-align: center;
		font-size: 3em;
		font-style: italic;
		margin: 2em 0;
	}

	&.error {
		background-color: rgba(255, 0, 0, .05);
		color: #622;

		.message {
			font-size: 1.2em;
		}

		th, td {
			border-color: #ffdecf;
		}

		> * {
			padding-left: 6px;
			padding-right: 6px;
		}
	}

	.messages li + li {
		margin-top: 6px;
	}

	.response + .response {
		border-top: 2px dashed #ACF;
		margin-top: 1em;
	}

	.response > * {
		padding-left: 6px;
		padding-right: 6px;
	}

	.status {
		padding: 6px;
	}

	.status.s2xx {
		color: var(--green-fg);
		background-color: var(--green-bg);
	}

	.status.s3xx {
		color: #03F;
		background-color: #EFF;
	}

	.status.s4xx,
	.status.s5xx {
		color: var(--red-fg);
		background-color: var(--red-bg);
	}

	pre {
		overflow-x: auto;
		margin: .5em 0 1em;
		width: 100%;
		background-color: rgba(0, 0, 0, .04);
		//padding: 6px 6px 1em 6px; /* Some extra room for the macOS scrollbar at the bottom */
		display: flex;
		flex-direction: row;

		.line-numbers {
			text-align: right;
			border-right: 1px solid rgba(0, 0, 0, .4);
			padding: 3px;
			opacity: .6;
		}

		> code {
			flex-grow: 1;
			padding: 3px 3px 1em 3px;
		}
	}

	.code-block {
		padding: 0;
	}

	.CodeMirror {
		background: rgba(0, 0, 0, .03);
		height: auto;

		.CodeMirror-lines {
			cursor: default;

			span {
				cursor: text;
			}
		}

		.CodeMirror-cursor {
			display: none;
		}
	}

	.table-box {
		width: 100%;
		position: relative;
		overflow-x: auto;
	}

	.table-box table {
		max-width: 100%;
		font-family: var(--code-font-family);

		th {
			text-align: left;
		}
	}
}

.editor-pane div.CodeMirror {
	background: rgba(0, 0, 0, .03);
	color: inherit;
	font-family: var(--code-font-family);
	z-index: 0;
	line-height: 1.4em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .06);

	.CodeMirror-code > div {
		transition: background-color 400ms ease-out 0ms;
	}

	.flash {
		background-color: rgba(119, 0, 255, 0.29);
	}

	.line-javascript {
		background-color: var(--js-bg);
	}

	&.CodeMirror-focused {
		background: transparent;
	}

	.CodeMirror-cursor {
		border-left-color: var(--fg);
	}

	.cm-header, .cm-strong {
		font-weight: 600;
	}

	.cm-tab {
		// A horizontal line, centered vertically.
		background-image: linear-gradient(
			transparent 0%,
			transparent 45%,
			#DDD 48%,
			#DDD 52%,
			transparent 55%,
			transparent 100%,
		);
	}

	.CodeMirror-activeline-background {
		background-color: var(--activeline-bg);
	}

	.CodeMirror-activeline-gutter {
		font-weight: bold;
	}

	span.CodeMirror-matchingbracket {
		background-color: #CFD;
		color: #070;
	}

	span.CodeMirror-nonmatchingbracket {
		background-color: red;
		color: white;
	}

	.CodeMirror-cursor {
		border-left-width: 2px;
	}
}

.CodeMirror-gutter {
	background-color: var(--gutter-bg);
}

.CodeMirror-gutters {
	border-color: var(--gutter-border);
}

.CodeMirror-selected, ::selection {
	background: var(--selection-bg) !important;
	text-shadow: none;
}

.modal {
	position: fixed;
	height: 70vh;
	width: 40%;
	right: 0;
	top: var(--header-height);
	background-color: var(--bg);
	border-bottom-left-radius: 6px;
	box-shadow: -6px 6px 18px rgba(0, 0, 0, .4);
	display: flex;
	flex-direction: column;
	margin-top: -1px;
	border-top: 1px solid #08A;
	z-index: 15;

	> * {
		padding: 6px;
	}

	> header {
		border-bottom: 1px solid var(--seam-color);
	}

	> header h2 {
		margin: 9px 3px;
	}

	> section {
		flex-grow: 1;
		overflow-y: auto;
	}

	> footer {
		border-top: 1px solid var(--seam-color);
		display: flex;
		justify-content: space-between;
	}
}

.form {
	display: grid;
	grid-template-columns: 120px auto;
	grid-template-rows: max-content;

	input[type="text"] {
		min-width: calc((100% - 120px) / 1.25);
	}
}

.form > * {
	margin: 6px 3px;
}

body:not([data-t]), body[data-t="default"] {
	--fg: #333;
	--bg: #FFF;
	--selection-bg: #ADF;
	--seam-color: #DDD;
	--gutter-bg: #F7F7F7;
	--gutter-border: #EEE;
	--activeline-bg: #006FFF12;
	--js-bg: #FFFCF3;
	--green-fg: #080;
	--green-bg: tint($--green-fg, 95%);
	--red-fg: #F40;
	--red-bg: tint($--red-fg, 95%);

	&.dark {
		--fg: #DDD;
		--bg: #222;
		--selection-bg: #357;
		--seam-color: #444;
		--gutter-bg: #292929;
		--gutter-border: #333;
		--js-bg: #322;
		--activeline-bg: #234;
		--green-fg: #2B3;
		--green-bg: shade($--green-fg, 70%);
		--red-fg: #F33;
		--red-bg: shade($--red-fg, 70%);
	}
}
